#nag {
    width: 100%;
    background-color: #3A3F40;
    height:70px;
    margin: 0;
    margin-bottom: 20px;
}
.button{
    text-align:center;
    width:100px;
    height:auto;
}
.button:hover {
        background-color: #747F7F;
        cursor:pointer;
}
